---
layout: default
home: true
---



{% for post in paginator.posts %}

{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

  <article>
    <span class="meta" style="border: 2px solid transparent;{% if post.type == "vid" %} border-image: linear-gradient(to bottom, #9c55ed, black);{% elsif post.type == "img" %} border-image: linear-gradient(to bottom, #fc83b2, black);{% elsif post.type == "3D" %} border-image: linear-gradient(to bottom, #ff9359 black);{% elsif post.type == "lnk" %} border-image: linear-gradient(to bottom, cyan, black);{% elsif post.type == "food" %} border-image: linear-gradient(to bottom, #fff39c, black);{% else %} border-image: linear-gradient(to bottom, white, black);{% endif %} border-image-slice: 1; padding: 10px;">
      {% if site.display-author-front-page %}
        {% if post.author.name %}
          {{ post.author.name }} •
        {% else %}
          {% if site.author.name %}
            {{ site.author.name }} •
          {% endif %}
        {% endif %}
      {% endif %}
      {{ post.date | date: site.date_format }} • {{ read-time }}</span>
  	<a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
      <p>
        {% if post.image %}
        &nbsp;<a href="{{ post.link }}" target="_blank"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
        {% endif %}
      {% if post.summary %}
        {{ post.summary }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% else %}
        {{ post.excerpt }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% endif %}
      </p>

  </article>
{% endfor %}
<p><br></p>
{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
