---
layout: default
home: true
---
{% for post in paginator.posts %}

{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

  <article>
    <span class="meta" style="border: 2px solid transparent;{% include border-colors-post.html %} padding: 10px;">
      {% if site.display-author-front-page %}
        {% if post.author.name %}
          {{ post.author.name }} •
        {% else %}
          {% if site.author.name %}
            {{ site.author.name }} •
          {% endif %}
        {% endif %}
      {% endif %}
      {{ post.date | date: site.date_format }} • {{ read-time }}</span>
  	<a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
      <p>
        {% if post.image %}
          {% if post.gallery %}
            <style>
              .image-gallery-index {overflow: auto; margin-left: -1%!important;}
              .image-gallery-index a {float: left; display: block; margin: 0 0 1% 1%; width: 32%; text-decoration: none !important;}
              .image-gallery-index a img {width: 100%; display: block;}
              .image-gallery-index a span {display: block; text-align: center; padding: 3px 0;}
            </style>

            <p class="image-gallery-index">&nbsp;<a href="{{ post.link }}" title="="{{ post.title }}"><img src="{{ post.image }}" alt="{{ post.title }}" /></span></a>{% for item in post.gallery %}<a href="{{ item.url }}" title="{{ item.title }}"><img src="{{ item.gimage }}" alt="{{ item.title }}" /><span>{{ item.title }}</span></a>{% endfor %}</p>

          {% else %}
            &nbsp;<a href="{{ post.link }}" target="_blank"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
          {% endif %}
        {% endif %}
    {% if post.video %}
      {% if post.vgallery %}
        <video muted autoplay controls loop width="140"><source src="{{ post.video }}" type="video/mp4"></video>{% for item in post.vgallery %}<video muted autoplay controls loop width="120"><source src="{{ item.vid }}" type="video/mp4"></video>{% endfor %}
      {% else %}
        <video muted autoplay controls loop width="400">
        <source src="{{ post.video }}" type="video/mp4">
        </video>
      {% endif %}
    {% endif %}
        {% if post.audio %}
        &nbsp;<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{ post.audio }}"></iframe>
        {% endif %}
      {% if post.summary %}
        {{ post.summary }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% else %}
        {{ post.excerpt }}&nbsp;<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →</a>
      {% endif %}
      </p>

  </article>
{% endfor %}
<p><br></p>
{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
