<script>
		  $(document).ready(function() {
		// Change feature image on thumbnail click
			$('.thumbnail').click(function() {
			  var featureImageSrc = $(this).attr('data-feature-image');
			  var featureImageLink = $(this).attr('data-item-link');
			  $(this).closest('.image-gallery').find('.feature-image').attr('src', featureImageSrc);
			  $(this).closest('.image-gallery').find('.feature-image-link').attr('href', featureImageLink);
			});
		});
	</script>
            <style>
				.image-gallery {
				  text-align: center;
				  margin-bottom: 20px;
				}

				.feature-image {
				  max-height: 800px;
				  width: auto;
				}

				.thumbnail-gallery {
				  display: flex;
				  overflow-x: auto;
				  gap: 10px;
				  margin-top: 10px;
				}

				.thumbnail {
				  max-width: 100px;
				  height: auto;
				  cursor: pointer;
				}

            </style>

            <div class="image-gallery">
			  <a href="{{ page.link }}" target="_blank" class="feature-image-link"><img src="{{ page.image }}" alt="{{ page.caption }}" class="feature-image"></a>
			  <div class="thumbnail-gallery">
				<img src="{{ page.image }}" alt="{{ page.caption }}" class="thumbnail" data-feature-image="{{ page.image }}" data-item-link="{{ page.link }}">
				{% for item in post.gallery %}
				  <img src="{{ item.gimage }}" alt="{{ item.title }}" class="thumbnail" data-feature-image="{{ item.url }}" data-item-link="{{ item.url }}">
				{% endfor %}
			  </div>
			</div>
