<nav>
   <a href="{{ site.baseurl }}/archive/">Timeline</a>
   <a href="{{ site.baseurl }}/tags1/">Tags</a>
   <a href="{{ site.baseurl }}/tags/showcase/>Showcase</a>
   <a href="{{ site.baseurl }}/tags/recommended/>Recommendations</a>
   <a href="{{ site.baseurl }}/tags/art/>Art</a>
   <a href="{{ site.baseurl }}/tags/game/>Games</a>
   <a href="{{ site.baseurl }}/tags/movie/>Movies</a>
   <a href="{{ site.baseurl }}/tags/show/>Shows</a>
   <a href="{{ site.baseurl }}/tags/music/>Music</a>
   <a href="{{ site.baseurl }}/tags/food/>Food</a>
   <a href="{{ site.baseurl }}/tags/thoughts/>Thoughts</a>
</nav>
