---
layout: default
---
<style>
    .grid-container {display: inline-grid; grid-template-columns: auto auto auto auto auto;}
    .image-gallery {overflow: clip; margin: 1px 0 1px -1%!important; border-color: #222; border-style: solid; border-width: 1px;}
    .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; text-decoration: none !important;}
    .image-gallery a img {width: 100%; display: block; text-decoration: none;}
    .image-gallery a span {display: block; text-align: center; padding: 3px 0; text-decoration: none;}
    .image-gallery p {margin: 1px 0 1px 0;}
</style>

<div>
  <h1>Articles tagged with "{{ page.tag-name }}"</h1>
  <p></p>
   <div class="grid-container">
    {% for post in site.posts %}
        {% if post.tags contains page.tag-name %}
            <p class="image-gallery">
            {% if post.image %}
                <a href="{{ post.url }}" title="{{ post.title }} published {{ post.date | date: "%Y-%m-%d" }}"><img src="{{ post.image }}" alt="{{ post.title }}" /></a><span><small>{% for tag in post.tags %}
                {% assign tag_slug = tag | slugify: "raw" %}
                <a href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
                    rel="category tag">
                #{{ tag }} {% endfor %}</small></span></a>
            {% elseif post.gallery %}
                {% for item in page.gallery %}
                <a href="{{ post.url }}" title="{{ post.tags }}"><img src="{{ item.gimage }}" alt="{{ post.title }}" /></a><span><small>{% for tag in post.tags %}
                {% assign tag_slug = tag | slugify: "raw" %}
                <a href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
                    rel="category tag">
                #{{ tag }} {% endfor %}</small></span></a>
                {% break %}
            {% else %}
                <br><a href="{{ post.url }}">{{ post.title }}</a><small> published {{ post.date | date: "%Y-%m-%d" }},
                {% for tag in post.tags %}
                    {% assign tag_slug = tag | slugify: "raw" %}
                    <a href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
                        rel="category tag">
                        #{{ tag }} 
                    </a>
                {% endfor %}</small>
            {% endif %}
        {% endif %}
    {% endfor %}
   </div>
</div>
